* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 10vh;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    padding-top: 13vh;
    display: flex;
    justify-content: center;
}

.photo {
    margin: 0px 1vw;
}

.photo:hover {
    border: 5px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.totalPlays {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.score {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

#iterations {
    margin-left: 1vw;
}

#playerScore, #compScore, #drawScore{
    margin: 0px 5vw;
}

.names {
    display: flex;
    justify-content: center;
}

#player, #comp, #draw{
    margin: 0px 3vw;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#info {
    padding: 1rem;
    width: fit-content;
    margin-top: 5vh;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
